# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# osx
.DS_Store

# developer testing configs like "foo.dev.yaml"
**/*.dev.*

# asdf helm version
**/.tool-versions